body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Montserrat, Tahoma, sans-serif;
    font-weight: 400;
    background: #eee;
}

.fa {
    font-size: 17px;
    color: #fff;
    font-family: FontAwesome;
    width: 20px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    transition: all .5s;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: color .2s ease-in-out;
}
.navbar-nav a:hover {
    color: #104e8b;
    font-weight: 600;
}
.med-info {
    background: #104e8b;
}

.med-info span a {
    color: #fff;
    text-decoration: none;
}

.landing, .about, .contact {
    clear: both;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    color: #104e8b;
}

h3 {
    color: #022547;
}

.card {
    background-color: unset;
    border: none;
}

.landing .card h1 {
    border-bottom: 3px solid #104e8b;
    padding-bottom: 20px;
}
.landing .card p {
    margin-left: 30px;
    line-height: 2.5em;
    padding-bottom: 20px;
}
.landing .card button {
    border: 1px dashed #104e8b;
    border-radius: 7px;
    color: #fff;
    padding: 10px;
    background: #104e8b;
}
.landing .card button:hover {
    cursor: pointer;
}
.landing .card .modal-dialog {
    background: #eee;
    padding: 10px;
}
.landing .card .modal-dialog .modal-content {
    background: #eee;
    padding: 10px;
}
.landing .card .modal-dialog .modal-content .modal-body div {
    padding-bottom: 17px;
}
.landing .card .modal-dialog form label {
    width: 20%;
    text-align: left;
}
.landing .card .modal-dialog form input, .landing .card .modal-dialog form textarea {
    width: 70%;
    background: #eee;
    border: none;
    border-bottom: 3px solid #104e8b;
}

.services div ul li {
    text-align: left;
    list-style: circle;
}
.services div h3 {
    color: #022547;
}

.about p {
    line-height: 2.5em;
}

.profile h3 {
    border-bottom: 2px solid #dad7d7;
    color: #022547;
}
.profile small {
    color: #022547;
    font-size: 12px;
    font-weight: bold;
}
.profile p {
    line-height: 2.5em
}

.contact form {
    background: unset;
}
.contact form div input, .contact form div textarea {
    padding: 15px;
    margin-bottom: 20px;
    width: 90%;
    height: 20px;
    border: none;
    border-bottom: 3px solid #104e8b;
    background: unset;
}
.contact form div textarea {
    height: 50px;
}
.contact .card form button {
    border: 1px dashed #104e8b;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #104e8b;
}
.contact .card form button:hover {
    cursor: pointer;
}

.contact .card:nth-child(2)>div {
    padding: 15px;
    letter-spacing: .5px;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 400;
}
.contact .card:nth-child(2) a {
    color: #000;
    text-decoration: none;
}

.contact .card:nth-child(2) .fa, footer .card .fa {
    color: #0c0c0c;
    border: 1px solid #0c0c0c;
    height: auto;
    width: auto;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25%;
    padding: 5px 8px;
}
.contact .card:nth-child(2) .socials .fa:hover, footer .card .fa:hover {
    color: #000;
    border: 2px solid #000;
}

footer {
    background: #dfdfdf;
    height: 100%;
    margin-top: 5%;
    font-weight: 400;
    color: #0c0c0c;
    font-size: 14px;
}
.footer-grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}
.footer-grid .card {
    margin: auto;
    background: unset;
    border: none;
    text-align: justify;
}
.footer-grid .card #footer-logo {
    margin-top: 40px;
}
.footer-grid h4 {
    padding-bottom: 7px;
    border-bottom: 5px solid #104e8b;
}
.footer-grid .card ul li {
    padding: 5px;
    list-style: none;
}
.footer-grid .card a {
    text-decoration: none;
    color: #0c0c0c;
    transition: color .2s ease-in-out;
}
.footer-grid .card a:hover {
    font-weight: 600;
    color: #104e8b;
}
footer .copyright {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

@media(max-width:1024px) {
footer {
    margin-bottom: 0;
}
footer .footer-grid {
    padding: 10px;
}
.landing .modal {
    width: 100%
}

}

@media(max-width:768px){
    footer {
        margin-bottom: 0;
    }

    footer .footer-grid {
        padding: 10px;
    }

    footer .footer-grid img {
        width: 250px;
    }

    #sp {
        padding-left: 80px;
    }
}


@media(max-width:540px) {
footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
footer .footer-grid {
    display: block;
    padding: 10px;
}
footer .footer-grid .card .socials {
    padding: 40px;
}
.med-info {
    width: 100%;
    padding-right: 0;
    text-align: left;
}

.landing .modal {
    width: 100%
}
#sp {
    text-align: center;
}
#special {
    display: none;
}

}
@media(max-width:414px) {
.med-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing .modal {
    width: 100%
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
footer .footer-grid {
    display: block;
    padding: 10px;
}
footer .footer-grid .card .socials {
    padding: 40px;
}
}

@media(max-width:378px) {
    nav img {
        width: 150px;
    }

    nav div a {
        padding: 2px;
    }

.med-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing .modal {
    width: 100%}
footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
footer .footer-grid {
    display: block;
    padding: 10px;
}
footer .footer-grid .card .socials {
    padding: 40px;
}
}
